.item {
  display: flex;
  justify-content: space-between;
  color: rgb(9, 77, 68);
  font-weight: bold;
  background-color: white;

  padding: 5px 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(102, 96, 96, 0.2);
  cursor: pointer;
}

.del {
  margin-top: 10px;
}
